---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  ANGULAR: {
    name: "Angular.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  AZURE: {
    name: "Azure DevOps",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "API para Gestión de Pizzería",
    description:
      "Desarrollé una API RESTful para la gestión de una pizzería utilizando Java 17 y Spring Boot. Esta API maneja pedidos, clientes y órdenes de servicio, con seguridad implementada a través de Spring Security y JWT. La base de datos utilizada es MySQL, y el proyecto está documentado con Swagger para facilitar su uso y comprensión. Además, configuré pipelines de CI/CD en Azure DevOps y gestioné el proyecto bajo la metodología Scrum, organizando sprints para asegurar un desarrollo ágil y colaborativo, optimizando así el flujo de trabajo y reduciendo el tiempo de entrega.",
    link: "https://backend-pizza-bwfebna6etg2awgu.canadacentral-01.azurewebsites.net/swagger-ui/index.html",
    github: "https://dev.azure.com/jhimyjhimy26/API-Gesti%C3%B3n-Pizzer%C3%ADa-spring/_git/Backend-API-pizzeria",
    image: "/projects/project1.webp",
    tags: [TAGS.AZURE],
  },
  {
    title: "Aplicación Fullstack para Hospedaje",
    description:
      "Desarrollé una aplicación web fullstack para gestionar un hospedaje, digitalizando el proceso de reservas y pagos. El backend está hecho en Java 21 con Spring Boot y PostgreSQL. El frontend, desarrollado en Angular, incluye un sistema de administración para gestionar habitaciones, pagos y servicios adicionales. Utilicé MapStruct para facilitar el mapeo de datos entre inglés y español. Además, implementé pipelines de CI/CD en Azure DevOps para automatizar el despliegue tanto del frontend como del backend en Azure Static Web Apps y Azure App Service, gestionando el proyecto con la metodología Scrum para asegurar un desarrollo ágil y colaborativo.",
    link: "https://salmon-hill-058ea171e.5.azurestaticapps.net/",
    github: "https://dev.azure.com/Oasis-Andino/App%20Web%20Oasis%20Andino/_git/frontend-oasis-andino-angular.git",
    image: "/projects/PROJECTO2.webp",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Azure DevOps
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



